<div class="container">
<div class="row">
  <div class="configuracao col-md-6">
    <div class="item-config">
      <label for="valor-inicial">Valor inicial:</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">R$</span>
        </div>
        <input type="number" class="form-control" id="valor-inicial" [(ngModel)]="inicial" aria-label="quantidade em Reais" (keyup)="calculaJurosCompostos()">
        <div class="input-group-append">
          <span class="input-group-text">,00</span>
        </div>
      </div>
    </div>
    <div class="item-config">
      <label for="aporte-mensal">Aporte/Retirada mensal:</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">R$</span>
        </div>
        <input type="number" class="form-control" id="aporte-mensal" [(ngModel)]="aporteMensal" aria-label="quantidade em Reais" (keyup)="calculaJurosCompostos()">
        <div class="input-group-append">
          <span class="input-group-text">,00</span>
        </div>
      </div>
    </div>
    <div>
      <div class="item">
          <label for="juros-mensal">Taxa Mensal</label>
          <input type="number" class="form-control" id="juros-mensal" [(ngModel)]="jurosMensal" (keyup)="calculaJurosAnual()">
      </div>
      <div class="item">
          <label for="juros-mensal">Taxa Anual</label>
          <input type="number" class="form-control" id="juros-anual" [(ngModel)]="jurosAnual" (keyup)="calculaJurosMensal()">
      </div>
    </div>
    <div>
      <div class="item">
          <label for="prazo-meses">Prazo Meses</label>
          <input type="number" class="form-control" id="prazo-meses" [(ngModel)]="quantidadeMeses" (keyup)="calculaAnos()">
      </div>
      <div class="item">
          <label for="prazo-anos">Prazo Anos</label>
          <input type="number" class="form-control" id="prazo-anos" [(ngModel)]="quantidadeAnos" (keyup)="calculaMeses()">
      </div>
    </div>
    <!--
    <div class="item-double multiples-itens prazodiv">
      <div class="item">
          <div class="input"> <span>Ou Data específica</span> <input type="date" name="prazoData" value=""></div>
      </div>
    </div>
    -->
  </div>
  <div class="col-md-6">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Resultado Final
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-right"><b class="texto-float-left">Valor Total:</b> {{ valorTotal | currency:'BRL':'symbol':'1.2-2':'pt' }}</li>
        <li class="list-group-item text-right"><b class="texto-float-left">Aplicação Inicial:</b> {{ inicial | currency:'BRL':'symbol':'1.2-2':'pt' }}</li>
        <li class="list-group-item text-right"><b class="texto-float-left">Total aplicado:</b> {{ somaAplicacoes | currency:'BRL':'symbol':'1.2-2':'pt' }}</li>
        <li class="list-group-item text-right"><b class="texto-float-left">Total juros:</b> {{ somaJuros | currency:'BRL':'symbol':'1.2-2':'pt' }}</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  </div>
</div>
<div class="row">
  <highcharts-chart
  [Highcharts]="Highcharts"
  [options]="chartOptions"

  style="width: 100%; height: 400px; display: block;"
></highcharts-chart>
</div>
<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Linha</th>
        <th>Aportes</th>
        <th>Juros Mês</th>
        <th>Juros Acumulados</th>
        <th>Montante Acumulado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of matrix" >
        <td>{{ item.linha }}</td>
        <td>{{ item.aportes | currency:'BRL':'symbol':'1.2-2':'pt' }}</td>
        <td>{{ item.jurosMes | currency:'BRL':'symbol':'1.2-2':'pt' }}</td>
        <td>{{ item.jurosAcumulados | currency:'BRL':'symbol':'1.2-2':'pt' }}</td>
        <td>{{ item.montante | currency:'BRL':'symbol':'1.2-2':'pt' }}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
